__pycache__
.history
.hypothesis/
build/
reports/
.vscode
research/
cache
.ipynb_checkpoints
*.ipynb
node_modules/
static/*
!static/.gitkeep
.env
.worktrees
secrets/*
!secrets/.gitkeep
.python-version
generated
specialpurpose/bobskeys.py
